             * {
                 margin: auto;
             }
             
             .header {
                 background-color: skyblue;
             }
             
             .container {
                 padding: 2rem;
                 align-items: center;
                 background-color: skyblue;
                 color: black;
             }
             
             .container2 {
                 padding: 2rem;
                 align-items: center;
                 background-color: rgb(114, 162, 224);
                 color: black;
             }
             
             .container3 {
                 padding: 2rem;
                 align-items: center;
                 background-color: rgb(134, 134, 179);
                 color: black;
             }
             
             .container4 {
                 padding: 2rem;
                 align-items: center;
                 background-color: rgb(22, 78, 143);
                 color: black;
             }
             
             .container select {
                 padding: 0;
                 margin-top: 1rem;
                 margin-bottom: 1rem;
             }